@import "point.css";

.screen-header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px; 
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 28px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 20px;
    position: relative;
}

.screen-header__icons div {
    margin-left: 70px;
    position: relative;
}

@keyframes rotateCog{
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }

}

@keyframes zoomIcons {
    from {
        transform: none;
    }
    to {
        transform: scale(1.5);
    }
}

/* 애니메이션 중첩 필요 20250512 */
.screen-header__icons .fa-gear:hover {
    animation-name: rotateCog, zoomIcons; 
    animation-duration :1.5s linear infinite;
}

.screen-header__icons .fa-magnifying-glass:hover ,
.screen-header__icons .fa-music:hover,
.screen-header__icons .fa-gear:hover {
    animation: zoomIcons 0.4s linear forwards;
}
